/* Base styling for Guestbook Index page */




body {
	background-color: #1e2e4d;
    color: #2c003a;
	}

h1 {
    margin: 0 auto;
	color: #2c003a;
}

h2 {
	color: #2c003a;
}

p {
	color: #2c003a;
}


footer {
    background: #383838;    
    padding: 20px;
    margin-top: 20px;
    }

.header {
	text-align: center;
	background: #383838;
}

.content-box {
    margin: 0 auto;
    width: 70%;
    background: #000d11;
    padding-bottom: 30px;
 }


.container {
	text-align: center;
	margin: 0 auto;
	text-align: left;
	width: 40%; 
	background: #383838;
    padding-bottom: 20px;
}


	
}
