/* Base styling for Guestbook Index page */

body {
	background-color: black;
	color: #2c003a;
	}

h1 {
	color: #2c003a;
}

h2 {
	color: #2c003a;
}

p {
	color: #2c003a;
}


.header {
	text-align: center;
	background: #383838
}

.container {
	text-align: center;
	margin: 0 auto;
	text-align: left;
	width: 40%; 
	background: #383838;
}


	
}
