
<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type = "text/css" href=" {% static 'gbook/style.css' %}"/>
<title> Guin's Guestbook </title>
</head>

<body>

<div class = "header">
	<h1>Guin's Guestbook</h1>
<br>
</div>

<div id= "form" class = "container">
{% block content %}
	<h2> Leave some love: </h2>

		<form method = "POST"> {% csrf_token %}
			<ul>
			{{ form.as_p }}	
			</ul>
			<button type="submit"> Submit </button>
		</form>
{% endblock content %}
</div>

<div id= "entries" class = "container">
<h2> Read some love: </h2>

{% for entry in entries  %}
	{{ entry }}</br>
{% endfor %}

<div class = "pagination">
	<span class = "step-links">
		{% if entries.has_previous %}
			<a href="?page={{ entries.previous_page_number }}">previous</a>
		{% endif %}
		
		<span class = "current">
			Page {{ entries.number }} of {{ entries.paginator.num_pages }}
		</span>
		
		{% if entries.has_next %}
			<a href="?page={{ entries.next_page_number }}">next</a>
		{% endif %}
	</span>	
</div>


</div>

</body>
</html>















